<div class="modal fade" id="new-authorModal" tabindex="-1" aria-labelledby="new-authorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h1 class="modal-title fs-5" id="new-authorModalLabel"><i class="bi bi-plus-lg"></i> Novo autor
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_author_new') }}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="new-name" class="col-form-label">Nome:</label>
                        <input name="name" type="text" maxlength="40" class="form-control"
                            id="new-name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy-fill"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>